<% if session[:user] %> <!-- session[:user] がnilでなければtrue--> <!--ログイン済みユーザーのみログアウトボタンを表示 -->
  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="ログアウト">
  </form>
<% end %>

<form action="/posts" method="post" enctype="multipart/form-data"> <!--/postsが送信先-->
<input type="hidden" name="name" value="<%= session[:user]["name"] %>">

  <div>
    <label for="content">投稿内容: </label>
    <textarea name="content" cols=50 rows=10></textarea>
  </div>

<input type="file" name="img">
  <input type="submit" value="投稿">
</form>

<% @posts.each do |post| %> <!--配列の各要素を順番に処理-->
  <h2><%= post['name'] %></h2>
  <p><%= post['content'] %></p> <!--投稿内容を出力-->
  <img src="/images/<%= post['image_path'] %>" alt=""> <!--画像パスの動的生成-->
<% end %>